 <!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>


<body ng-app="myApp">
<h1>Using multiple app in an Angular page</h1>
    <h3>Controller from root app</h3>
    <div ng-controller="myCtrl" >
        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
        <br>
        Full Name: {{firstName + " " + lastName}}
    </div>

    <!-- Need to run a web server for ng-include to work-->
    <div ng-include="'second.html'"></div>


<script src="test.js"></script>
<script>


</script>

</body>
</html>
