Still have acces to global variables, eg. isLogged: {{isLogged}}

<form role="form" name="form">

  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email"
            name="email"
            class="form-control"
            ng-model="email"
            ng-minlength="5"
            required>

    <div ng-messages="form.email.$error">
      <div ng-message="required">Please enter your email address...</div>
      <div ng-message="email">Invalid email address...</div>
      <div ng-message="minlength">Too short...</div>
    </div>

  </div>

  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password"
        name="password"
        class="form-control"
        ng-model="password"
        ng-minlength="5"
        required>

    <div ng-messages="form.password.$error">
      <div ng-message="required">Please enter your password...</div>
      <div ng-message="minlength">Password too short...</div>
    </div>

  </div>

  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>

  <button type="submit" class="btn btn-default" ng-click="login()">Submit</button>
</form>
